@page
@model Mags.Pages.Comenzi.IndexModel

@{
    ViewData["Title"] = "Livrare";
}

<h1>LIVRARE</h1>

<p>
    <a asp-page="Create">Comandă nouă ...</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].EAN.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda[0].Cantitate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comanda) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantitate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
